<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>My BackGround</title>
    <style>
        body {
            background-color: #e0ffff;
            aviation{
                      width:400px:
                      }
        }
        h1 {
            color: midnightblue;
        }
        p {
            font-size: 20px;
            color: #4682b4;
        }
        p1 {
            font-size: 30px;
            color: green;
        }
    </style>
</head>
<body>
    <div style="text-align:center">
    <img class="aviation"
     src="C:\Users\dwsnw\PycharmProjects\web_page\images\dock.jpg"
     alt="Line Maintenance">
    </div>

</body>
</html>