<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Mk BackGround</title>
    <style>
        body {
            background-color: #dddddd;
        }

        h1 {
            color: midnightblue;
        }
        p {
            font-size: 20px;
            color: #4682b4;
        }
        p1 {
            font-size: 30px;
            color: green;
        }

    </style>
</head>
<body>

<h1>My BackGround</h1>
<p>日東航空機整備
    <br>SGC佐賀航空
    <br>佐賀県鹿島市役所
    <br>Panasonic Avionics Corporation</p>
<p1>参考サイト及び資料</p1>
<br>
<p2>日東航空機整備ホームページは会社が存続していない為現存しない</p2>
<br>
<p3>その他のホームページ等はPower Pointを参照ください</p3>
<br>

</body>


</html>